<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat with JSON!</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="vendor/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="js/setup.js"></script>
  </head>
  <body>

    <div id="main">
      <h1>Chat with JSON!</h1>
      <div class='input'>
        <form>
          <label>Msg: </label>
          <input type="text" name="msg"></input>
          <button type="submit">Tweet</button>
        </form>
      </div>
    </div>
    <script>


    // var rooms = {};
    // rooms.addRoom = function(room_name){
    //   var room = {
    //     room_name:room_name
    //   };
    //   return room;
    // };
    // rooms.removeRoom = function(){

    // };
    // rooms.displayRoom = function(room_name){

    // };

    var formHandler = function(event){
      event.preventDefault(); //prevent from refresh on submit
      var data = $('form').serializeArray();
      console.log(data);

      var msg_text = data[0].value;

      user.user_name = user.user_name || 'marcus_the_god'; //default
      var msg = {username: user.user_name};
      _(msg).extend({text: msg_text});

      console.log('msg: ', msg);
      user.newmessage(msg);

      //fetch
      room.fetch_msg();
    };


    $("form").on('submit', formHandler);


    var room = {
      room_name: "wild party room",
      display: function(){
        $('body').append('<div class="room1"></div>');
        $('.room1').append('<h3 class="room_name">' +
            this.room_name + '</h3>');
      },
      fetch_msg: function(){
        var that = this;
        $.ajax({
          url:'https://api.parse.com/1/classes/messages?order=-createdAt'
        }).done(function(data){

          // console.log('data: ', data);
          var parse_data = function(data){
            var results = data.results;
            var $container = $('<div class="container"></div>');
            for(var i=0; i<results.length; i++){
              // console.log(i + '---' + results[i].createdAt + $('<div>dummy</div>').text(results[i].text).html() );
              var templateString = "<div> \
                  <span><%= username %></span>  \
                  <span><%= createdAt %></span> \
                  <span><%= message %></span> \
                </div><br>";
              var messageData = {
                username:  _.escape( results[i].username ),
                createdAt: _.escape( results[i].createdAt ),
                message: _.escape(results[i].text)
              };
              $container.append(_.template(templateString, messageData));
            }

            //asyncally refresh msg list
            if ($('.container').length === 0) {
              $('.room1').append($container);
            } else {
              $('.container').replaceWith($container);
            }
          };

          parse_data(data);

        });

        //call it every 100 ms
        setTimeout(function(){
          that.fetch_msg();
        }, 100);

      }
    };

    room.display();

    var user = {
      user_name: window.location.search.split('?username=')[1],
      newmessage: function(message){
        //expect message as a obj with key-value pairs
        var msg = JSON.stringify(message);

        var request = $.ajax({
          url:'https://api.parse.com/1/classes/messages',
          type: "POST",
          data: msg,
          contentType: 'application/json'
        });

        request.done(function(message){
          console.log('done', message);
        });

        request.fail(function(jqXHR, textStatus){
          console.log('request failed' + textStatus + jqXHR.responseText);
        });
      }
    };

      // user.newmessage({
      //   username: 'marcus_the_god',
      //   text: '----------->NSA sees you<-------'
      // });

    room.fetch_msg();




    </script>

  </body>
</html>
