<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat with JSON!</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="vendor/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="js/setup.js"></script>
  </head>
  <body>

    <div id="main">
      <h1>Chat with JSON!</h1>
      <div class='input'>
        <form class ="msg">
          <label>Msg: </label>
          <input type="text" name="msg"></input>
          <button type="submit">Tweet</button>
        </form>
        <form class="createRoom">
          <label>Create Room: </label>
          <input type="text" name="roomName"></input>
          <button type="submit">Add</button>
        </form>
        <form class="roomList">
          <label>Choose Room: </label>
          <select class="nameDropDown" name="mydropdown">
          <option value="messages">messages</option>
          </select>
        </form>
      </div>
    </div>
    <script>
    //$('.nameDropDown').append($('<option value="sad">' + 'sad' + <'/option>'))

    var rooms = {
      roomList: [],
      currentRoom: {}
    };
    rooms.addRoom = function(room_name){
    // expect room_name to be string which would be part of the url
    // expect room to be at: https://api.parse.com/1/classes/room_name?order=-createdAt
      var room = new Room(room_name);
      this.roomList.push(room);
      return room;
    };
    rooms.getRoom = function(room_name){
    // input = string
    // output = {}
      var output = {};
      _(this.roomList).each(function (room) {
        if(room.room_name === room_name){
          output = room;
        }
      })
      return output;
    };
    rooms.init = function() {
      var init_room = this.addRoom('messages');
      init_room.display();
      init_room.fetch_msg();
    };




    var addRoomHandler = function(event){
      event.preventDefault();
      var data = $(this).serializeArray();
      rooms.addRoom(data[0].value);
      updateDropDown();
    };
    $('form.createRoom').on('submit', addRoomHandler);

    //updated the dropdown everytime after adding a new room
    var updateDropDown = function() {
      var selectObj = $('<select class="nameDropDown"></select>');
      _.each(rooms.roomList, function(room){
        selectObj.append('<option value="' +room.room_name+ '">' + room.room_name + '</option>');
      });
      $('select.nameDropDown').replaceWith(selectObj);

    }

    var chooseRoomHandler = function(event) {
      event.preventDefault();
      var selected = event.target.value;
      console.log('selected: ', selected);
      rooms.currentRoom = rooms.getRoom(selected);
      console.log('currentRoom: ', rooms.currentRoom);
      //
      rooms.currentRoom.display();
      rooms.currentRoom.fetch_msg();
    };
    $('form.roomList').on('change', chooseRoomHandler);

    // rooms.removeRoom = function(){
    // remove from the array
    // };


    var formHandler = function(event){
      event.preventDefault(); //prevent from refresh on submit
      var data = $('form').serializeArray();

      var msg_text = data[0].value;

      user.user_name = user.user_name || 'marcus_the_god'; //default
      var msg = {username: user.user_name};
      _(msg).extend({text: msg_text});

      user.newmessage(msg);

      //fetch
      rooms.currentRoom.fetch_msg();
    };
    $('form.msg').on('submit', formHandler);


    var peopleHandler = function(event){
      event.preventDefault();
      var buddyName = event.target.textContent;
      //if buddyName is not a friend
      //add to buddy list
      //add class=buddy to its parent element
      if (_(user.buddyList).indexOf(buddyName) === -1) {
        user.buddyList.push(buddyName);
        $('.people').each(function(index){
          var flag = _(user.buddyList).contains($(this).text());
          if (flag) {
            $(this).parent().addClass("buddy");
          }
        });
      //if buddyName is a friend but we clicked on it
      //delete from buddy list
      //remove class=buddy from its parent element
      } else {
        user.buddyList.splice(_(user.buddyList).indexOf(buddyName), 1);
        $('.people').each(function(index){
          if ( $(this).text() === buddyName ) {
            $(this).parent().removeClass("buddy");
          }
        });
      }
    };


    //Room class starts here
    var Room = function(room_name) {
      this.room_name = room_name;
    };

    Room.prototype.display = function(){
      //if there is no room on the page, create a div with two classes, roomBorder and this.room_name
      if ($('.roomBorder').length === 0) {
        $('body').append('<div class="roomBorder ' + this.room_name + '"></div>');
      } else {
      //if there is a room already on the page, replace that room
        $('.roomBorder').replaceWith('<div class="roomBorder ' + this.room_name + '"></div>');
      }

      $('.' + this.room_name).append('<h3 >' + this.room_name + '</h3>');
    };

    Room.prototype.fetch_msg = function(){
      var that = this;
      $.ajax({
        url:'https://api.parse.com/1/classes/messages?order=-createdAt'
      }).done(function(data){
        //double check we are receiving data
        console.log('receiving data? ', data);

        var parse_data = function(data){
          var results = data.results;
          var $container = $('<div class="container"></div>');
          for(var i=0; i<results.length; i++){
            var templateString = "<div> \
                <span class='people'><%= username %></span>  \
                <span><%= createdAt %></span> \
                <span><%= message %></span> \
              </div><br>";
            var messageData = {
              username:  _.escape( results[i].username ),
              createdAt: _.escape( results[i].createdAt ),
              message: _.escape(results[i].text)
            };
            $container.append(_.template(templateString, messageData));
          }

          //asyncally refresh msg list
          //USE a HTML element with class=this.room_name as an anchor point
          if ($('.container').length === 0) {
            $('.' + that.room_name).append($container);
            console.log('create a new container', that.room_name, $('.' + that.room_name) );
            // debugger;
            //rebind events everytime page reloads
            $('.people').on('click', peopleHandler);
          } else {
            $('.container').replaceWith($container);
            console.log('replace old container', $container);
              //rebind events everytime page reloads
              $('.people').on('click', peopleHandler);
          }
        };

        parse_data(data);

    });

      //call it every 100 ms
      // setTimeout(function(){
      //   that.fetch_msg();
      // }, 100);

    };

    // var room1 = new Room('messages');

    // room1.display();

    var user = {
      user_name: window.location.search.split('?username=')[1],
      newmessage: function(message){
        //expect message as a obj with key-value pairs
        var msg = JSON.stringify(message);

        var request = $.ajax({
          url:'https://api.parse.com/1/classes/messages',
          type: "POST",
          data: msg,
          contentType: 'application/json'
        });

        request.done(function(message){
          console.log('done', message);
        });

        request.fail(function(jqXHR, textStatus){
          console.log('request failed' + textStatus + jqXHR.responseText);
        });
      },
      buddyList: []
    };

    // room1.fetch_msg();


    //init room!!!
    rooms.init();

    </script>

  </body>
</html>
